@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.button-inner-shadow {
  box-shadow: -9px -8px 8.9px 0px #00000040 inset;

  box-shadow: 3px 3px 6.6px 0px #ffffff40 inset;
}

.gradient-text{
  background: linear-gradient(270.82deg, #131313 0.21%, #565656 99.79%);

}